<div class="container">
  <form [formGroup]="FormModel" class="forminfo" >
    <div class="form-group">
      <label>Name: </label>
      <input class="form-control" type="text" formControlName="name">
      <span class="hide invalid" [ngClass]="{'show': name.invalid}">*</span>
    </div>
    <div class="form-group">
      <label>Birthday: </label>
      <input class="form-control" type="date">
    </div>
    <div class="form-group">
      <label>Gender:</label>
      <input type="radio" name="gender" id="" value="Male" formControlName="gender"> Male
      <input type="radio" name="gender" id="" value="FeMale" formControlName="gender"> FeMale
      <span class="hide invalid" [ngClass]="{'show': gender.invalid}">*</span>
    </div>
    <div class="form-group">
      <label>Email: </label>
      <input class="form-control" type="text" name="email" formControlName="email">
      <span class="hide invalid" [ngClass]="{'show': email.invalid}">*</span>
    </div>
    <div class="form-group">
      <label>Code: </label>
      <input class="form-control" type="text" formControlName="code">
      <span class="hide invalid" [ngClass]="{'show': code.invalid}">*</span>
    </div>
    <div class="form-group">
      <label>Team: </label>
      <select id="select-team" class="form-control" formControlName="team">
        <option value="0"></option>
        <option value="1">FE</option>
        <option value="2">Ruby</option>
        <option value="3">PHP</option>
        <option value="4">QC</option>
        <option value="5">Androi</option>
        <option value="6">IOS</option>
      </select>
      <span class="hide invalid" [ngClass]="{'show': team.invalid}">*</span>
    </div>
    <div class="form-group">
      <label>Skill: </label>
      <input class="form-control" type="text" formControlName="skill">
      <span class="hide invalid" [ngClass]="{'show': skill.invalid}">*</span>
    </div>
    <div class="form-group">
      <label>Citizen: </label>
      Viet Nam:<input type="radio" name="citizen" value="VN" (change)="showCertificate('VN')" formControlName="citizen">
      Japan:<input type="radio" name="citizen" value="JP" (change)="showCertificate('JP')" formControlName="citizen">
      <span class="invalid" [ngClass]="{'hide': citizen.valid}">*</span>
    </div>
    <div id="form-certificate">
      <label>Japanese Certificate:</label>
      <input class="form-control" formControlName="certificate" type="text" required>
      <span class="invalid" [ngClass]="{'hide': certificate.valid}">*</span>
    </div>
    <button (click)="onSubmit()" type="submit">Submit</button>
  </form>
</div>
  