<div [hidden]="isShowDetail" class="content-post" *ngIf="posts">
  <h4 class="title-session">List Team Member</h4>
  <ul class="list-product">
    <li *ngFor="let post of posts" class="item-product">
      <div class="thumb">
        <img src="{{post.Avatar | pipe}}" alt="image-member">
      </div>
      <div class="info-list">
        <p class="name-member">Name: <span class="title">{{post.Name}}</span></p>
        <p class="employee-code">EmployeeCode: <span class="title">{{post.EmployeeCode}}</span></p>
        <p class="position">Position: <span class="title" [positionColor]="post.Position">{{post.Position}}</span></p>
        <p class="employeetype">EmployeeType: <span class="title">{{post.EmployeeType}}</span></p>
        <p class="employeeemail">EmployeeEmail: <span class="title">{{post.EmployeeEmail}}</span></p>
        <p class="phone">Phone: <span class="title" [phone-directive]="post.Phone">{{post.Phone}}</span></p>
      </div>
      <span class="link-product"><a class="btn-detail" [class.selected]="post === selectedPost" (click)="onSelect(post)"> Detail &#9658;</a></span>
    </li>
  </ul>
</div>
