/* Reset
-------------------------------------------------------------- */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video  { 
  font-family: inherit; 
  font-size: 100%; 
  font-weight: inherit; 
  font-style: inherit; 
  vertical-align: baseline; 
  margin: 0; 
  padding: 0; 
  border: 0; 
  outline: 0;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
  display: block;
}
                          
ol, ul {
  list-style: none;
}

blockquote, q { 
  -webkit-hyphens: none;
    -moz-hyphens: none;
     -ms-hyphens: none;
         hyphens: none;
          quotes: none;
}

figure {
  margin: 0;
}

:focus {
  outline: 0;
}

table { 
  border-collapse: collapse; 
  border-spacing: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

button,
input {
  line-height: normal;
}

input,
textarea {
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  line-height: 1;
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
  -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
font: 16px/24px "Roboto", sans-serif;
font-weight: 400;
background-color: #fff;		
color: #333;
}

a {		
color: #303030;
text-decoration: none;
-webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
color: #f9bf3b;
text-decoration: none;
outline: 0;
-webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul, ol {
padding: 0;
}

img {
max-width: 100%;
height: auto;		
}

.img-left {
margin: -10px 50px 0 0 !important;
float: left;
}

.img-right {
margin: 0 0 0 50px !important;
float: right;
}

b, strong {
font-weight: 900;
}

.entry-page p {
margin-bottom: 25px;
}

button {
border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
font-family: "Roboto", sans-serif;
font-size: 14px;	
text-transform: uppercase;		
  color: #fff;
  background-image: none;
  height: 50px;
  background-color: #303030;
  line-height: 50px;
  padding: 0 28px;
  cursor: pointer;
  letter-spacing: 0.5px;
  white-space: nowrap;
  border: none;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
      -ms-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
 display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {	
border: 1px solid #d5d5d5;
  height: 50px;
  padding: 19px 35px;  	
  font-size: 14px;
  line-height: 19px;
  color: #999;
  max-width: 100%;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
border: 1px solid #f9bf3b;
-webkit-box-shadow: none;
   -moz-box-shadow: none;
    box-shadow: none;
}

textarea {
width: 100%;
height: 180px;
padding: 20px 38px;
}

input[type="checkbox"] {
display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {	
font-size: 12px;
  line-height: 19px;	
color: #b1b1b1;
opacity: 1;
}

input:-ms-input-placeholder {
font-size: 12px;
  line-height: 19px;
color: #b1b1b1;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
font-size: 12px;
  line-height: 19px;
color: #b1b1b1;
opacity: 1;
}

@-webkit-keyframes pop-scale { 0% { -webkit-transform: scale(0.7) } 100% { -webkit-transform: scale(1) } }
@-moz-keyframes pop-scale { 0% { -moz-transform: scale(0.7) } 100% { -moz-transform: scale(1) } }
@keyframes pop-scale { 0% { transform: scale(0.7) } 100% { transform: scale(1) } }

/* bootstrap resetting elements */
.btn {
background-image: none;
}

textarea, 
input[type="text"],
input[type="submit"],
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
-webkit-appearance: none;
text-shadow: none;
-webkit-box-shadow: none;
   -moz-box-shadow: none;
     -o-box-shadow: none;
        box-shadow: none;
color: #999;
}
