.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.detail-product {
  width: 70%;
  float: left;
}

.detail-product .title-session {
  font-size: 45px;
  border-bottom: 2px solid #a52a2a;
  margin-bottom: 30px;
  font-weight: 600;
}

.detail-product .btn-detail {
  font-weight: 600;
}

.detail-product .btn-detail:hover {
  cursor: pointer;
  color: #d50000;
}

.detail-product .title-product {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 600;
}

.detail-product  .text-product {
  color: #555;
}
