<section [hidden] = "isShowDetail === false" class="detail-product" *ngIf="post">
  <h4 class="title-session">Info Detail</h4>
  <div class="info-detail">
    <img src="{{post.Avatar | pipe}}" alt="image-member">
    <p class="name-member">Name: <span class="title">{{post.Name}}</span></p>
    <p class="employee-code">EmployeeCode: <span class="title">{{post.EmployeeCode}}</span></p>
    <p class="position">Position:<span class="title" [positionColor]="post.Position">{{post.Position}}</span></p>
    <p class="employeetype">EmployeeType: <span class="title">{{post.EmployeeType}}</span></p>
    <p class="employeeemail">EmployeeEmail: <span class="title">{{post.EmployeeEmail}}</span></p>
    <p class="phone">Phone: <span class="title" [phone-directive]="post.Phone">{{post.Phone}}</span></p>
    <span class="list-product back-list"><a class="btn btn-detail" (click)="onBack()"> &#9668; Back To List</a></span>
  </div>
  <product-list [posts]="PostList"></product-list>
</section>


